{% extends "base.html" %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="es-app">
					<ul class="es-app-list">
						<li>
							<a href="{% url 'newstock-combine' %}">
								<span class="glyphicon glyphicon-gift"></span>
								<span class="glyphicon-class">New Stock</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-flag"></span>
								<span class="glyphicon-class">Jobs Runner</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-eye-open"></span>
								<span class="glyphicon-class">Opportunity</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="glyphicon glyphicon-text-background"></span>
								<span class="glyphicon-class">News</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}